<div  class="row">
    <div class="col-xs-3">
        <button ng-click="prev()" class="button-float" style="float: left">Prev</button>
    </div>
    <!-- <button ng-click="skip()" class="button-float" style="float: right">Skip</button> -->

    <div class="col-xs-6">
        <div>
            <div>
                <a href="http://imgur.com/gallery/{{thisData.id}}" style="font-size: medium">{{thisData.title}}</a>
            </div>
            by <a href="http://imgur.com/user/{{thisData.account_url}}" ng-if="thisData.account_url">{{thisData.account_url}}</a>
            <span ng-if="!thisData.account_url">Anon</span>
        </div>
        <div ng-repeat="imageLink in thisData.link track by $index">
            <a href="{{imageLink}}"> <img ng-src="{{imageLink}}" style="width:100%; height: 100%"></a>
        </div>
    </div>

    <div class="col-xs-3">
        <button ng-click="next()" class="button-float" style="float: right">Next</button>
    </div>
</div>
